.menu-custom {
  background-color: #C00000; 
  padding: 2rem 0;
}

.menu-custom .nav-link {
  color: #fff !important;
  font-weight: 300;
  margin: 0 20px;
  transition: 0.3s;
}

.menu-custom .nav-link.active {
  font-weight: 700;
  color: #fff; 
}

.menu-custom .nav-link:hover {
  opacity: 0.7;
}

.menu-custom .navbar-brand img {
  max-height: 80px;
}

.footer-custom {
  background-color: #C00000;
  color: #D9D9D9;
  padding: 60px 0 30px;
  font-size: 0.95rem;
}

.logo-footer {
  max-width: 180px;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 8px;
}

.footer-list a {
  color: #D9D9D9;
  text-decoration: none;
  transition: 0.3s;
}

.footer-list a:hover {
  opacity: 0.7;
}


/* Redes sociais */
.footer-redes {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-redes a {
  color: #D9D9D9;
  font-size: 22px;
  transition: 0.3s;
}

.footer-redes a:hover {
  opacity: 0.7;
}

/* Linha */
.footer-linha {
  border: none;
  height: 2px; 
  background-color: #D9D9D9;
  margin: 40px 0 25px;
}

/* Copyright */
.footer-copy p {
  margin: 5px 0;
  font-size: 0.85rem;
  opacity: 0.9;
}

.footer-copy a {
    text-decoration: none;
    color: #D9D9D9;
}

  .logo-footer {
    margin-right: -30px !important;
  }

@media (max-width: 767px) {

  .footer-custom {
    text-align: center;
  }

  .footer-custom .row > div {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-redes {
    justify-content: center;
  }

  .footer-list {
    text-align: center;
  }

  .logo-footer {
    margin-bottom: 15px;
  }

  .footer-copy {
    text-align: center;
  }
}

@media (max-width: 575px) {

  .menu-custom .nav-link {
    margin: 8px 0;
    font-size: 0.95rem;
  }

  .menu-custom .navbar-brand img {
    max-height: 60px;
  }
}