.img-desktop {
  display: block;
}

.img-mobile {
  display: none;
}

#vem-conhecer {
    background-color: #FAFAFA;
    padding: 2.5rem 2.5rem;

}

.titulo-sobre {
    color: #850907;
    font-family: "Cinzel", serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-cam {
    text-decoration: none;
    background-color: #C00000;
    color: #FFDBDB;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 16px 24px;
    border: none;
    border-radius: 12px;
    box-shadow:
    0px 4px 8px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.16);

    transition: all 0.3s ease;
}

.btn-cam:hover {
    transform: translateY(-2px);
    filter: brightness(1.08);

    box-shadow:
    0px 8px 16px rgba(0, 0, 0, 0.14),
    0px 3px 6px rgba(0, 0, 0, 0.18);
}

.divisor {
    background-color: #850907;
    height: 4px;
}

#modalidades {
    background-color: #fff;
}

#modalidades a {
  text-decoration: none;
  color: #222;
}

.titulo-modalidades {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    color: #222;
}

.subtitulo-modalidades {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    color: #555;
    margin-top: -8px;
}

.modalidade-item img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.modalidade-item h6 {
    font-family: "Cinzel", serif;
    font-weight: bold;
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.modalidade-item:hover img {
  transform: scale(1.07);
}

.depoimentos-section {
  position: relative;
  height: 500px;
  background: url("/img/apresentação-fundo.webp") center center no-repeat;
  background-size: cover;
}

.depoimentos-section .overlay {
  position: absolute;
  inset: 0;
  background: rgba(120, 0, 0, 0.7); 
  z-index: 1;
}

.depoimentos-section .container {
  z-index: 2;
}

.texto-depoimento-esq {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    max-width: 500px;
}

.titulo-depoimentos {
    font-family: "Cinzel", serif;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.depoimento-card {
  background-color: #FFC7C7 !important;
  border-radius: 12px;
  padding: 2rem;
  border: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.depoimento-card p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;

}

.icon-aspas {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #900;
}

small {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
}

/* Indicadores em linha */
.carousel-indicators {
  position: absolute;
  bottom: 0;
}

.indicadores-linha {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 20px;
}

.indicadores-linha button {
  width: 35px;
  height: 4px;
  background: white;
  border: none;
  opacity: 0.4;
}

.indicadores-linha .active {
  opacity: 1;
}


.carousel-indicators.indicadores-linha {
  position: static !important;
  margin-top: 25px;
  z-index: 10; 
}

.carousel-indicators.indicadores-linha button {
  background-color: #fff !important;
}

#nossa-unidade .unidade{
    margin-right: 5rem;
}

.titulo-unidade {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    color: #222;
}

.subtitulo-unidade {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    color: #555;
    margin-top: -8px;
}

#nossa-unidade h3 {
    font-family: "Cinzel", serif;
    font-weight: bold;
    font-size: 2rem;
    color: #555;
}

#nossa-unidade p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #222;
}

#nossa-unidade a {
  text-decoration: none;
}


/* TABLET E MENOR (até 991px) */
@media (max-width: 991px) {

  .depoimentos-section {
    height: auto;
    padding: 60px 0; 
  }

  .texto-depoimento-esq {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem; 
  }

  .titulo-depoimentos {
    text-align: center;
    font-size: 1.5rem;
  }

  .depoimento-card p {
    font-size: 0.95rem;
  }

  #nossa-unidade .unidade{
    margin-right: 0;
}
}

@media (max-width: 575px) {

  .menu-custom .nav-link {
    margin: 8px 0;
    font-size: 0.95rem;
  }

  .menu-custom .navbar-brand img {
    max-height: 60px;
  }

    .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .titulo-modalidades {
    font-size: 2.1rem;
  }

  .subtitulo-modalidades {
    font-size: 0.85rem;
  }

    .modalidade-item img {
    width: 110px;
    height: 110px;
  }

  .modalidade-item h6 {
    font-size: 0.85rem;
  }

  .depoimentos-section {
    padding: 70px 0;
  }

  .texto-depoimento-esq {
    font-size: 1.2rem; 
    line-height: 1.4;
    margin: 0 auto;
  }

  .titulo-depoimentos {
    font-size: 1.3rem;
  }

  .depoimento-card {
    padding: 1.4rem;
  }

  .depoimento-card p {
    font-size: 0.9rem;
  }

  .icon-aspas {
    font-size: 1.6rem;
  }

    .titulo-unidade {
    font-size: 2.2rem;
  }

  #nossa-unidade h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  #nossa-unidade p {
    font-size: 0.95rem;
    text-align: center;
  }

    .btn-cam {
    padding: 12px 20px;
    font-size: 0.9rem;
  }
}


