  .img-desktop {
  display: block;
}

.img-mobile {
  display: none;
}
  
  .mod-card {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
  }

  .mod-card img {
    width: 100%;
    display: block;
    transition: transform .4s ease;
  }

  .mod-card:hover img {
    transform: scale(1.05);
  }

  .titulo-modalidades {
    font-family: "Cinzel", serif;
    font-weight: bold;
    font-size: 2rem;
    color: #555;
  }

  .modalidades p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #222;
  }

  /* FAIXA VERMELHA */
  .mod-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: rgba(155, 0, 0, 0.65);
    font-size: 14px;
  }

@media (min-width: 992px) {
    .center-last-two {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width: 575px) {

  .menu-custom .nav-link {
    margin: 8px 0;
    font-size: 0.95rem;
  }

  .menu-custom .navbar-brand img {
    max-height: 60px;
  }

    .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

    .titulo-modalidades {
    font-size: 1.8rem;

  }
}